.container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.wrapper > app-episode {
  width: 20%;
  height: 200px;
  padding-left: 10px;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  height: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

